---
import Layout from "../layouts/Layout.astro"

---

<Layout title="404" desc="SIM.vn">
  <div class="flex flex-col gap-2 items-center">
    <div class="text-5xl font-bold text-slate-400">404</div>
    <div class="text-2xl font-semibold">Không tìm thấy trang</div>
    <div>
      Có vẻ như đường dẫn bạn vừa truy cập không tồn tại hoặc đã bị gỡ bỏ !
    </div>
  </div>
</Layout>