---
import AdminLoginBox from "src/components/admin/LoginBox";

---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login To Admin WebApp</title>
</head>
<body class="h-full flex flex-col items-center bg-gray-100">

  <AdminLoginBox client:only />

  <script is:inline>
    if(localStorage.getItem("token")) {
      location.replace("/admin");
    }
  </script>
</body>
</html>